@model IEnumerable<CoderMind.Shared.Dtos.TechnologyDtos.GetTechnologySubjectsDto>

@foreach (var item in Model)
{
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-@item.TechnologyId" aria-expanded="true" aria-controls="collapseOne">
                <div class="header_img w-25"> <img src="@item.Logo" class="img-fluid rounded rounded-circle"></div>
            </button>
        </h2>
        <div id="collapseOne-@item.TechnologyId" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">

            <a asp-page="/Note/Subject" asp-route-technologyId="@item.TechnologyId" class="btn btn-primary btn-sm btn-block mt-2 mx-2"><i class='bx bxs-add-to-queue'></i> Subject</a>

            <a asp-page="/Note/TechnologyDetail" asp-route-technologyId="@item.TechnologyId" class="btn btn-primary btn-sm btn-block mt-2 mx-2"><i class='bx bxs-add-to-queue'></i> Details</a>

            <div class="accordion-body">
                @foreach (var item2 in item.Subjects)
                {
                    <a asp-page="/note/subjectdetail" asp-route-id="@item2.SubjectId" class="link-primary">@item2.Title</a>
                    <hr />
                }

            </div>
        </div>
    </div>

}

