@model IEnumerable<CoderMind.Shared.Dtos.TechnologyDtos.GetTechnologySubjectsDto>

@foreach (var item in Model)
{
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-@item.TechnologyId" aria-expanded="true" aria-controls="collapseOne">
                <div class="header_img w-25"> <img src="@item.Logo" class="img-fluid rounded rounded-circle"></div>
                <span>@item.Name</span>
            </button>
        </h2>
        <div id="collapseOne-@item.TechnologyId" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="btn-group mt-2 mx-2">
                <a asp-page="/Subject/Create" asp-route-technologyId="@item.TechnologyId" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="bottom" title="New Subject"><i class='bx bx-add-to-queue'></i></a>
                <a asp-page="/Technology/Detail" asp-route-technologyId="@item.TechnologyId" class="btn btn-success btn-sm" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Detail"><i class='bx bx-detail'></i></a>
                <a asp-page="/Technology/Update" asp-route-technologyId="@item.TechnologyId" class="btn btn-warning btn-sm" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Update"><i class='bx bx-edit-alt'></i></a>

            </div>
            <div class="accordion-body">
                @for (var i = 0; i < item.Subjects.Count; i++)
                {
                    <a asp-page="/Subject/Detail" asp-route-id="@item.Subjects[i].SubjectId" class="link-primary">@(i+1) - @(item.Subjects[i].Title)</a><br />

                    @if (item.Subjects[i].Tags is not null)
                    {
                        var tags = @item.Subjects[i].Tags!.Trim().Split(",");
                        foreach (var tag in tags)
                        {
                            <span class="badge bg-primary">@tag</span>
                        }
                    }

                    <br />
                }

            </div>
        </div>
    </div>

}

